@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f0f5f9;
  --foreground-color: #1e2022;
  --border-color: #3e4c59;
  --accent-color: #4c51bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f2937;
    --foreground-color: #e5e7eb;
    --border-color: #9ca3af;
    --accent-color: #818cf8;
  }
}

@layer base {
  * {
    border-color: var(--border-color);
  }
}

.accent {
  color: var(--accent-color);
  cursor: default;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hljs {
  color: #1e2022;
  background: #f0f5f9;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d03060;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6b46c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #0284c7;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #16a34a;
}

.hljs-built_in,
.hljs-symbol {
  color: #ea580c;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #64748b;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #0d9488;
}

.hljs-subst {
  color: #1e2022;
}

.hljs-section {
  color: #2563eb;
  font-weight: bold;
}

.hljs-bullet {
  color: #ca8a04;
}

.hljs-emphasis {
  color: #1e2022;
  font-style: italic;
}

.hljs-strong {
  color: #1e2022;
  font-weight: bold;
}

.hljs-addition {
  color: #166534;
  background-color: #dcfce7;
}

.hljs-deletion {
  color: #991b1b;
  background-color: #fee2e2;
}

@media (prefers-color-scheme: dark) {
  .hljs {
    color: #e5e7eb;
    background: #1f2937;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #f9a8d4;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #c4b5fd;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    color: #7dd3fc;
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    color: #86efac;
  }

  .hljs-built_in,
  .hljs-symbol {
    color: #fdba74;
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    color: #9ca3af;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    color: #5eead4;
  }

  .hljs-subst {
    color: #e5e7eb;
  }

  .hljs-section {
    color: #60a5fa;
    font-weight: bold;
  }

  .hljs-bullet {
    color: #fde68a;
  }

  .hljs-emphasis {
    color: #e5e7eb;
    font-style: italic;
  }

  .hljs-strong {
    color: #e5e7eb;
    font-weight: bold;
  }

  .hljs-addition {
    color: #bbf7d0;
    background-color: #14532d;
  }

  .hljs-deletion {
    color: #fecdd3;
    background-color: #4c0519;
  }
}

/* .hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
} */
